<!--Bring in the model so the program recognize the variable-->
@model Book


<div class="text-center card card-outline-primary m-1 p-1">
    <h3>Title: @Model.Title</h3>
    <p>Author: @Model.Author</p>
    <p>Publisher: @Model.Publisher</p>
    <p>ISBN: @Model.ISBN</p>
    <p>Category: @Model.Category</p>
    <p>Price: @Model.Price</p>
</div>