@{
    ViewData["Title"] = "Home Page";
}
@model BookListsViewModel

<div class="text-center">
    <header>
        <h1 class="display-4">Welcome to our Online Store</h1>
    </header>
</div>

@foreach (var x in Model.Books)
{
    <div class="text-center">
        <h3>Title: @x.Title</h3>
        <p>Author: @x.Author</p>
        <p>Publisher: @x.Publisher</p>
        <p>ISBN: @x.ISBN</p>
        <p>Category: @x.Category</p>
        <p>Price: @x.Price</p>
    </div>
}

<div page-model="@Model.PagingInfo" page-action="Index"></div>
